* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
}

#upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100vh;
}

h1 {
  margin: 1em;
}

form {
  margin: 2em 0em;
  display: flex;
  flex-direction: column;
}

.inline {
  margin: 0.5em 0em;
  display: flex;
  justify-content: center;
}

input {
  padding: 1em 1em;
}

#result {
  padding: 2em;
  width: 70vw;
  background-color: #c9c9c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
}

button {
  padding: 0.5em 2em;
  margin-bottom: 1em;
}
