* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f5f5;
}

#upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

h1 {
  margin: 1em;
}

#result {
  margin: 0 10em;
  padding: 2em;
  background-color: grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1em;
}
